<div class="page-container">
    <div class="intro panel"></div>
    <div class="navigation-controls">
        <div class="navigation-controls-back-arrow navigation-controls-arrow hide">
            <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/baltimore-unrest/img/left-arrow.png" alt="Back" />
        </div>
        <div class="navigation-controls-forward-arrow navigation-controls-arrow">
            <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/baltimore-unrest/img/right-arrow.png" alt="Next" />
        </div>
    </div>
</div>
<!-- End page-container --> 

