 <div id="introvid" class="video-container">
        <div class="videocover"></div>
        <div class="videoembed" id="introplayer">
        </div>
</div>
<div class="intro-content">
    <div class="intro-title">
        <h2 class="intro-headline"><%=project_head %></h2>
        <h2 class="intro-copy"><%=chatter %></h2>
          <div class="begin-button">Begin</div>
          <!-- <div class="intro-credits">
            <h3 class="credit-line">By: <a href="https://twitter.com/khjelmgaard" target="_blank">@khjelmgaard</a>, <a href="https://twitter.com/mitchthorson" target="_blank">@mitchthorson</a>, <a href="https://twitter.com/toryhargro" target="_blank">@toryhargro</a>, <a href="https://twitter.com/renalston" target="_blank">@renalston</a> and Robin A. Smith</h3>
          </div> -->
        </div>
      </div>
      
    
