    <div class="panel upcoming">
      <div class="caption-box">
        <div class="box-controls">
          
            <h2 class="caption-head"><%= vid.head %></h2>
  <% if(vid.audio) { %>
            <div class="controls" style="">
            
            <div class="audio-container" >
              <div class="audio-play-pause-button"> <span class="commentary-label">Commentary</span>
                <div class="audio-toggle">
                  <div class="toggle-inner"> <span class="toggle-label">On</span>
                    <div class="toggle-button"></div>
                    <span class="toggle-label">Off</span> </div>
                </div>
              </div>
              <div class="audio-player">
                <div class="audio-inner not-playing">
                    <div class="audio-credit-inner"><%= vid.audio_credit %></div>
                  <div class="audio-box">
                    <div class="audio-bar"> </div>
                    <div class="audio-dot-container">
                      <div class="audio-dot"></div>
                    </div>
                  </div>
                  <div class="audio-time-text">0:00/0:00</div>
                </div>
              </div>
            </div>
        </div>
        <% } %>
          <!-- End Controls --> 
          <p class="caption-body"><%= vid.body %></p>
          <div class="panel-toggle"></div>
          
      </div>
          <div class="social">
            <a class="tshare social-popup" href="https://twitter.com/intent/tweet?url=<%=share.twitterShare%>&text=<%=share.encodedShare%>"><img class="social-icon" src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/baltimore-unrest/img/twitter.svg" alt="Share"  border="0"></a>
            <a class="eshare " href="<%=share.email_link%>" ><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/baltimore-unrest/img/email.svg" alt="Share"  class="social-icon" border="0"></a>
            <a class="fbshare social-popup" href="https://www.facebook.com/dialog/feed?display=popup&app_id=<%=share.fb_id%>&link=<%=share.fbShare%>&picture=<%=share.stillimage%>&name=&description=<%=share.encodedShare%>&redirect_uri=<%=share.fb_redirect%>"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/baltimore-unrest/img/facebook.svg" class="social-icon" alt="Share"  border="0"></a>
          </div>
      </div>
      <div class="video-container">
        <div class="videocover"></div>
        <div class="videoembed" id="main-player-<%=num%>">
      </div>
        
  </div>
  <% if(vid.audio) { %>
     <audio>
         <source src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/baltimore-unrest/media/<%= vid.audio_file %>.mp3" type="audio/mpeg">
         <source src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/baltimore-unrest/media/<%= vid.audio_file %>.ogg" type="audio/ogg">
    </audio>

    <% } %>


    </div>
    <!--End Panel-->
